# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Environment
.env
venv/
.venv/

# OS
Thumbs.db
.DS_Store

# Pytest
.pytest_cache/

# Logs
logs/

# Reports
reports/

# Allure
allure-results/
allure-report/
